<!DOCTYPE html>
<html ng-app="store">
<head>
  <title>Gem Store</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
script>
<link rel="stylesheet" href="style.css" />

</head>
<body>
  <div ng-controller="StoreController as store">
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">an Angular store</h2>
    </header>
  <div class="list-group"> <!-- bootstrap -->
    <div class="list-group-item" ng-repeat="product in store.products">
    <h3> {{product.name}}
    <em class="pull-right"> {{product.price | currency}} </em>
    <img ng-src="{{product.images[0].full}}" />
    </h3>
      <!-- Image Gallery  -->
      <div class='gallery' ng-show="product.images.length" ng-controller="GalleryController as gallery">
       <img ng-src="{{product.images[gallery.current]}}" />
        <ul class="list-inline thumbs">
          <li class="thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </div>

    <section ng-init="tab = 1" ng-controller="PanelController as panel">  <!-- sets default tab open -->
      <ul class = "nav nav-pills">
        <li ng-class="{ active: panel.isSelected(1) }">
         <a href ng-click="panel.selectTab(1)"> Description </a>
        </li>
        <li ng-class="{ active: panel.isSelected(2) }">
          <a href ng-click="panel.selectTab(2)"> Specifications </a>
        </li>
        <li ng-class="{ active: panel.isSelected(3) }">
         <a href ng-click="panel.selectTab(3)"> Reviews </a>
        </li>
      </ul>
        <div class ="panel" ng-class="panel.isSelected ng(1)">
        <h4>Description</h4>
        <p>{{product.description}}</p>
        </div>
        <div class ="panel" ng-show="panel.isSelected(2)">
        <h4>Specifications</h4>
        <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div class ="panel" ng-show="panel.isSelected(3)">
        <h4>Reviews</h4>
        <form name="reviewForm">
          <blockquote>
           <strong>{{review.stars}} Stars</strong>
        {{review.body}}
           <cite class="clearfix">{{review.author}}</cite>
          </blockquote>
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars">
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
          </div>
     </section>

    </div>
    </div>

  </div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Angular -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="text/javascript" src="app.js"></script>
</body>
</html>
